In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\ghpu\JupyterNotebook\datasets\healthcare\healthdata.csv")

In [2]:
df

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,4,a,4,X,2,anesthesia,R,F,4.0,57843,1.0,Urgent,Moderate,2,41-50,5641,21-30
996,997,23,a,6,X,4,gynecology,Q,F,4.0,57843,1.0,Trauma,Moderate,8,41-50,4539,51-60
997,998,14,a,1,X,4,gynecology,Q,E,2.0,57843,1.0,Trauma,Moderate,4,41-50,4673,21-30
998,999,13,a,5,Z,4,gynecology,R,F,4.0,29799,1.0,Emergency,Extreme,3,51-60,4224,20-Nov
999,1000,8,c,3,Z,4,gynecology,Q,F,3.0,29799,1.0,Emergency,Extreme,3,51-60,4694,31-40

In [3]:
import scipy.stats as stats

In [4]:
from sklearn.preprocessing import LabelEncoder
df=df.apply(LabelEncoder().fit_transform)

In [5]:
dft1=pd.crosstab(df['case_id'], df['Stay'])
dft1

Stay     0   1   2   3   4   5   6   7   8   9   10
case_id
0         1   0   0   0   0   0   0   0   0   0   0
1         0   0   0   0   1   0   0   0   0   0   0
2         0   0   0   1   0   0   0   0   0   0   0
3         0   0   0   0   1   0   0   0   0   0   0
4         0   0   0   0   1   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995       0   0   1   0   0   0   0   0   0   0   0
996       0   0   0   0   0   1   0   0   0   0   0
997       0   0   1   0   0   0   0   0   0   0   0
998       0   1   0   0   0   0   0   0   0   0   0
999       0   0   0   1   0   0   0   0   0   0   0

[1000 rows x 11 columns]

In [6]:
chiStats = stats.chi2_contingency(observed= dft1)

In [7]:
print(chiStats[1], chiStats[2])

0.46993291332034903 9990

In [8]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [9]:
observed_chi_val = chiStats[0]

In [10]:
print(observed_chi_val, critical_value)

10000.0 10223.632557081663

In [11]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis cannot be rejected (variables are independent)

In [19]:
dft2=pd.crosstab(df['Hospital_code'], df['Stay'])
dft2

Stay           0   1   2   3   4   5   6   7   8   9   10
Hospital_code
0               1   2   3   5   0   3   1   0   1   0   1
1               2   2   1   5   2   4   1   1   0   0   0
2               3   3   6   1   0   3   1   0   1   0   0
3               1   0   1   2   0   0   0   0   0   0   0
4               1   3   4   2   0   0   0   0   0   0   0
5               5   5  11   5   1   6   0   0   0   0   1
6               0   1   1   0   0   0   0   0   0   0   0
7               1   1   5   1   0   1   0   0   0   0   0
8               5  10  12  10   2   6   0   1   0   0   3
9               1   9  19  14   1   2   0   1   0   0   0
10              3   3   8   7   1   3   0   0   0   0   0
11              0   9  15   8   0   5   0   1   1   0   2
12              1   7   8   3   1   2   0   0   0   0   0
13              1   3  31   6   2   4   0   2   0   0   1
14              5   5   9   4   1   2   0   0   0   0   0
15              1   1   2   3   1   0   0   0   0   0   1
16              2   2   5   1   0   0   0   1   0   1   0
17              1   1   1   2   1   0   0   0   1   0   0
18              2  26  14  12   2  15   0   3   4   0   3
19              0   0   0   0   0   1   0   0   0   1   0
20              1   5   4   6   1   8   1   4   2   0   0
21              2   2   3   0   1   0   0   1   0   0   0
22              4  10  19   7   3   9   0   4   5   1   3
23              2   7   6   2   2   2   0   1   0   0   0
24              0   5  16   5   1   1   0   2   1   1   0
25              4  12  35  25  18  17   3  10   2   1   4
26              2  14  20   4   1   3   0   0   2   1   0
27              3  21  13  17   2  11   0   2   1   2   0
28              1   4   6   5   0   1   0   1   0   0   0
29              0   2   5   5   0   2   0   0   0   0   0
30              4   3   5   3   2   2   1   1   0   0   1
31              6   4  10  12   0  11   0   4   4   0   2

In [20]:
chiStats = stats.chi2_contingency(observed= dft2)

In [21]:
print(chiStats[1], chiStats[2])

3.1534131552737226e-06 310

In [22]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [23]:
observed_chi_val = chiStats[0]

In [24]:
print(observed_chi_val, critical_value)

435.62084389601216 352.06164985736297

In [25]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [27]:
dft3=pd.crosstab(df['Hospital_type_code'], df['Stay'])
dft3

Stay                0   1    2   3   4   5   6   7   8   9   10
Hospital_type_code
0                   20  89  136  56  12  47   0  12  12   2  10
1                   10  36   56  49  21  32   3  12   3   4   4
2                   17  22   37  28   7  22   4   6   3   0   2
3                    7  13   16  17   3   9   1   1   2   0   4
4                    3  16   40  20   2   3   0   4   1   2   0
5                    6   4   10  12   0  11   0   4   4   0   2
6                    2   2    3   0   1   0   0   1   0   0   0

In [28]:
chiStats = stats.chi2_contingency(observed= dft3)

In [29]:
print(chiStats[1], chiStats[2])

7.77091238657879e-06 60

In [30]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [31]:
observed_chi_val = chiStats[0]

In [32]:
print(observed_chi_val, critical_value)

119.53828147609974 79.08194448784874

In [33]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [34]:
dft3=pd.crosstab(df['Hospital_type_code'], df['Stay'])
dft3

Stay                0   1    2   3   4   5   6   7   8   9   10
Hospital_type_code
0                   20  89  136  56  12  47   0  12  12   2  10
1                   10  36   56  49  21  32   3  12   3   4   4
2                   17  22   37  28   7  22   4   6   3   0   2
3                    7  13   16  17   3   9   1   1   2   0   4
4                    3  16   40  20   2   3   0   4   1   2   0
5                    6   4   10  12   0  11   0   4   4   0   2
6                    2   2    3   0   1   0   0   1   0   0   0

In [35]:
chiStats = stats.chi2_contingency(observed= dft3)

In [36]:
print(chiStats[1], chiStats[2])

7.77091238657879e-06 60

In [37]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [38]:
observed_chi_val = chiStats[0]

In [39]:
print(observed_chi_val, critical_value)

119.53828147609974 79.08194448784874

In [40]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [41]:
dft4=pd.crosstab(df['City_Code_Hospital'], df['Stay'])
dft4

Stay                0   1   2   3   4   5   6   7   8   9   10
City_Code_Hospital
0                    7  29  81  30   6   9   0   7   1   2   1
1                    7  15  43  32  19  21   3  10   2   2   4
2                   10  15  27  19   4  16   3   5   3   0   2
3                    2   5   8   7   0   1   0   1   0   0   0
4                   13  24  30  22   6  14   1   2   0   0   3
5                    9  15  30  12   4  15   0   4   5   1   4
6                    4  40  34  16   3  18   0   3   6   1   3
7                    8  15  28  20   1  16   0   6   5   0   4
8                    1   2   3   5   0   3   1   0   1   0   1
9                    3  21  13  17   2  11   0   2   1   2   0
10                   1   1   1   2   1   0   0   0   1   0   0

In [42]:
chiStats = stats.chi2_contingency(observed= dft4)

In [43]:
print(chiStats[1], chiStats[2])

7.068644726805463e-06 100

In [44]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [45]:
observed_chi_val = chiStats[0]

In [46]:
print(observed_chi_val, critical_value)

173.6520357776372 124.34211340400407

In [47]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [48]:
dft5=pd.crosstab(df['Hospital_region_code'], df['Stay'])
dft5

Stay                  0   1    2   3   4   5   6   7   8   9   10
Hospital_region_code
0                     21  70  132  66  12  36   0  14   7   5   5
1                     21  73  109  75  24  58   4  19  15   3  12
2                     23  39   57  41  10  30   4   7   3   0   5

In [49]:
chiStats = stats.chi2_contingency(observed= dft5)

In [50]:
print(chiStats[1], chiStats[2])

0.014111400458614228 20

In [51]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [52]:
observed_chi_val = chiStats[0]

In [53]:
print(observed_chi_val, critical_value)

36.31732421894971 31.410432844230918

In [54]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [55]:
dft6=pd.crosstab(df['Available Extra Rooms in Hospital'], df['Stay'])
dft6

Stay                               0   1    2   3   4   5   6   7   8   9   10
Available Extra Rooms in Hospital
0                                   2   0    3   5   0   3   0   0   1   0   0
1                                  20  59   71  55  12  52   1  19  17   3   9
2                                  19  41   79  53   6  38   3  14   3   2   9
3                                  20  57  113  51  23  21   4   6   3   2   2
4                                   2  13   16  10   2   6   0   0   1   1   1
5                                   1   6    4   8   1   4   0   0   0   0   1
6                                   1   6    9   0   1   0   0   1   0   0   0
7                                   0   0    3   0   0   0   0   0   0   0   0
8                                   0   0    0   0   1   0   0   0   0   0   0

In [56]:
chiStats = stats.chi2_contingency(observed= dft6)

In [57]:
print(chiStats[1], chiStats[2])

0.00045155693829163497 80

In [58]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [59]:
observed_chi_val = chiStats[0]

In [60]:
print(observed_chi_val, critical_value)

128.75416357993782 101.87947396543588

In [61]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [62]:
dft7=pd.crosstab(df['Department'], df['Stay'])
dft7

Stay        0    1    2    3   4    5   6   7   8   9   10
Department
0            5    7   10    2   0    1   0   2   0   0   1
1            3   26   25   15   4    4   1   5   2   1   6
2           47  127  232  148  36  104   7  28  20   7  13
3           10   22   31   17   6   15   0   5   3   0   2

In [64]:
chiStats = stats.chi2_contingency(observed= dft7)

In [65]:
print(chiStats[1], chiStats[2])

0.07001535514576372 30

In [66]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [67]:
observed_chi_val = chiStats[0]

In [68]:
print(observed_chi_val, critical_value)

42.111496150675 43.77297182574219

In [69]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis cannot be rejected (variables are independent)

In [70]:
dft8=pd.crosstab(df['Ward_Type'], df['Stay'])
dft8

Stay       0   1    2   3   4   5   6   7   8   9   10
Ward_Type
0           0   4    8   2   4   2   0   0   0   0   0
1          23  71  132  61  13  20   1   5   2   0   3
2          24  74  109  60  21  54   5  13   3   7  10
3          18  31   49  58   8  48   2  22  19   1   9
4           0   2    0   1   0   0   0   0   1   0   0

In [71]:
chiStats = stats.chi2_contingency(observed= dft8)

In [72]:
print(chiStats[1], chiStats[2])

1.6574082307504708e-14 40

In [73]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [74]:
observed_chi_val = chiStats[0]

In [75]:
print(observed_chi_val, critical_value)

149.22620799281262 55.75847927888702

In [76]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [77]:
dft9=pd.crosstab(df['Ward_Facility_Code'], df['Stay'])
dft9

Stay                0   1   2   3   4   5   6   7   8   9   10
Ward_Facility_Code
0                    9  14  22  18   4  15   3   5   3   0   2
1                   10  18  32  27   2  19   1   6   7   0   5
2                    4  40  34  16   3  18   0   3   6   1   3
3                    7  15  43  32  19  21   3  10   2   2   4
4                    7  29  81  30   6   9   0   7   1   2   1
5                   28  66  86  59  12  42   1   9   6   3   7

In [78]:
chiStats = stats.chi2_contingency(observed= dft9)

In [79]:
print(chiStats[1], chiStats[2])

4.617749028824746e-08 50

In [80]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [81]:
observed_chi_val = chiStats[0]

In [82]:
print(observed_chi_val, critical_value)

122.81256740901608 67.5048065495412

In [83]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [84]:
dft10=pd.crosstab(df['Bed Grade'], df['Stay'])
dft10

Stay       0   1    2   3   4   5   6   7   8   9   10
Bed Grade
0           2  18   24  21   6  17   0   5   0   1   4
1          25  60  167  83  28  54   6  20  14   2   3
2          27  75   69  53  10  39   1  10   9   3  11
3          11  29   38  24   2  14   1   5   2   2   4
4           0   0    0   1   0   0   0   0   0   0   0

In [85]:
chiStats = stats.chi2_contingency(observed= dft10)

In [86]:
print(chiStats[1], chiStats[2])

0.004043172214484851 40

In [87]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [88]:
observed_chi_val = chiStats[0]

In [89]:
print(observed_chi_val, critical_value)

67.67851287038623 55.75847927888702

In [90]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [91]:
dft11=pd.crosstab(df['patientid'], df['Stay'])
dft11

Stay       0   1   2   3   4   5   6   7   8   9   10
patientid
0           0   0   1   0   0   1   0   0   1   0   0
1           0   1   0   0   1   0   2   0   0   0   0
2           0   0   0   0   0   0   0   1   0   0   0
3           0   1   1   0   0   3   0   0   0   0   0
4           0   3   2   0   0   0   0   0   0   0   0
...        ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
181         0   2   7   0   1   0   0   0   0   0   0
182         0   0   1   2   0   0   0   0   0   0   0
183         0   1   1   0   1   1   0   0   0   0   2
184         1   2   3   0   0   1   0   0   0   0   0
185         0   1   3   1   0   2   0   0   0   0   0

[186 rows x 11 columns]

In [93]:
chiStats = stats.chi2_contingency(observed= dft11)

In [94]:
print(chiStats[1], chiStats[2])

3.350615285473257e-19 1850

In [95]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [96]:
observed_chi_val = chiStats[0]

In [97]:
print(observed_chi_val, critical_value)

2443.149371514566 1951.1766005136412

In [98]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [99]:
dft12=pd.crosstab(df['City_Code_Patient'], df['Stay'])
dft12

Stay               0   1   2   3   4   5   6   7   8   9   10
City_Code_Patient
0                   5  14  21  20   2  10   0   4   1   0   1
1                   6  22  43  14   1  11   0   3   2   0   3
2                   1   2   1   0   3   0   0   1   0   0   0
3                   1   3  10   9   3   3   0   1   0   0   3
4                  12  17  20  16   7  11   4   9   4   1   2
5                   4   4   5   0   0   1   0   2   0   0   0
6                   5   9  16  15   6   8   0   4   2   0   1
7                  17  70  97  63  12  47   1  10  14   3   9
8                  11  25  49  17   6  18   2   3   2   2   3
9                   0   0   3   0   0   4   0   0   0   0   0
10                  0   0   3   3   0   1   0   0   0   0   0
11                  0   0   1   1   0   1   0   0   0   0   0
12                  1   3   5   0   0   0   0   0   0   0   0
13                  0   3  10  14   4   5   0   2   0   0   0
14                  0   1   2   5   0   0   1   0   0   1   0
15                  1   3   0   2   1   0   0   1   0   0   0
16                  0   1   7   1   0   0   0   0   0   0   0
17                  0   3   0   0   0   1   0   0   0   0   0
18                  0   1   2   0   1   2   0   0   0   1   0
19                  0   0   1   0   0   0   0   0   0   0   0
20                  0   1   0   0   0   0   0   0   0   0   0
21                  0   0   1   0   0   0   0   0   0   0   0
22                  0   0   0   1   0   0   0   0   0   0   0
23                  0   0   0   1   0   0   0   0   0   0   0
24                  0   0   0   0   0   1   0   0   0   0   0
25                  0   0   1   0   0   0   0   0   0   0   0
26                  1   0   0   0   0   0   0   0   0   0   0

In [100]:
chiStats = stats.chi2_contingency(observed= dft12)

In [101]:
print(chiStats[1], chiStats[2])

0.04876393880235898 260

In [102]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [103]:
observed_chi_val = chiStats[0]

In [104]:
print(observed_chi_val, critical_value)

298.9133183837981 298.61058847985373

In [105]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [106]:
dft13=pd.crosstab(df['Type of Admission'], df['Stay'])
dft13

Stay               0   1    2   3   4   5   6   7   8   9   10
Type of Admission
0                  40  79   98  63  17  55   4  13  11   3   7
1                  18  79  154  93  27  59   4  20  11   5  14
2                   7  24   46  26   2  10   0   7   3   0   1

In [107]:
chiStats = stats.chi2_contingency(observed= dft13)

In [108]:
print(chiStats[1], chiStats[2])

0.013969630009040663 20

In [109]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [110]:
observed_chi_val = chiStats[0]

In [111]:
print(observed_chi_val, critical_value)

36.354380275339174 31.410432844230918

In [112]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [113]:
dft14=pd.crosstab(df['Severity of Illness'], df['Stay'])
dft14

Stay                 0    1    2   3   4   5   6   7   8   9   10
Severity of Illness
0                    15   48   85  74  20  47   0  11  10   6  10
1                    10   28   31  18   2   6   0   1   0   0   0
2                    40  106  182  90  24  71   8  28  15   2  12

In [114]:
chiStats = stats.chi2_contingency(observed= dft14)

In [115]:
print(chiStats[1], chiStats[2])

0.0002094380736886651 20

In [116]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [117]:
observed_chi_val = chiStats[0]

In [118]:
print(observed_chi_val, critical_value)

50.16943271441498 31.410432844230918

In [119]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [120]:
dft15=pd.crosstab(df['Visitors with Patient'], df['Stay'])
dft15

Stay                   0    1    2   3   4   5   6   7   8   9   10
Visitors with Patient
0                       0    0    2   1   0   0   0   0   0   0   0
1                      47  104  182  70  23  11   4   7   0   1   0
2                      10   40   46  28  10  15   2   2   0   0   1
3                       8   34   62  71   9  69   2  19   2   6   1
4                       0    0    0   4   1   5   0   5   4   0   1
5                       0    3    5   6   3  20   0   4  14   1  10
6                       0    1    0   2   0   2   0   0   1   0   1
7                       0    0    1   0   0   2   0   2   3   0   2
8                       0    0    0   0   0   0   0   1   1   0   2
9                       0    0    0   0   0   0   0   0   0   0   2
10                      0    0    0   0   0   0   0   0   0   0   1
11                      0    0    0   0   0   0   0   0   0   0   1

In [121]:
chiStats = stats.chi2_contingency(observed= dft15)

In [122]:
print(chiStats[1], chiStats[2])

6.613524336418691e-97 110

In [123]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [124]:
observed_chi_val = chiStats[0]

In [125]:
print(observed_chi_val, critical_value)

755.4856210172385 135.48017792835952

In [126]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [127]:
dft16=pd.crosstab(df['Age'], df['Stay'])
dft16

Stay  0   1   2   3   4   5   6   7   8   9   10
Age
0      1   2   2   0   0   1   0   0   0   0   0
1      5   3  10   8   0   1   0   0   0   0   0
2      7  20  13  16   3   1   0   0   1   0   2
3     14  42  76  31   9  38   1   5   1   1   2
4      7  26  71  49   7  25   2  14   4   2   7
5     12  37  44  18   9  19   2   7   5   4   5
6      5  27  41  28   8  13   1   4   5   0   1
7     10  16  29  22   8  20   2   7   5   0   5
8      4   9  12  10   2   6   0   3   4   1   0

In [128]:
chiStats = stats.chi2_contingency(observed= dft16)

In [129]:
print(chiStats[1], chiStats[2])

0.004491130469072165 80

In [130]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [131]:
observed_chi_val = chiStats[0]

In [132]:
print(observed_chi_val, critical_value)

116.91919865203653 101.87947396543588

In [133]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [134]:
dft17=pd.crosstab(df['Admission_Deposit'], df['Stay'])
dft17

Stay               0   1   2   3   4   5   6   7   8   9   10
Admission_Deposit
0                   0   0   0   0   0   0   0   0   0   0   1
1                   0   0   0   0   0   0   0   0   1   0   0
2                   0   0   1   0   0   0   0   0   0   0   0
3                   0   1   0   0   0   0   0   0   0   0   0
4                   0   0   1   0   0   0   0   0   0   0   0
...                ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
852                 0   0   1   0   0   0   0   0   0   0   0
853                 0   0   0   1   0   0   0   0   0   0   0
854                 0   0   0   0   0   1   0   0   0   0   0
855                 1   0   0   0   0   0   0   0   0   0   0
856                 1   0   0   0   0   0   0   0   0   0   0

[857 rows x 11 columns]

In [135]:
chiStats = stats.chi2_contingency(observed= dft17)

In [136]:
print(chiStats[1], chiStats[2])

0.008209270400374492 8560

In [137]:
alpha = 0.05
critical_value = crit = stats.chi2.ppf(q = 1 - alpha,
                      df = chiStats[2])

In [138]:
observed_chi_val = chiStats[0]

In [139]:
print(observed_chi_val, critical_value)

8877.124740754161 8776.349286670993

In [140]:
if observed_chi_val <= critical_value:
    print ('Null hypothesis cannot be rejected (variables are independent)')
else:
    print ('Null hypothesis can be rejected (variables are dependent)')

Null hypothesis can be rejected (variables are dependent)

In [145]:
chisqtable = {'Column Attributes':  ['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital', 'Hospital_region_code', 'Available Extra Rooms in Hospital', 'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade', 'patientid', 'City_Code_Patient', 'Type of Admission', 'Severity of Illness', 'Visitors with Patient', 'Age', 'Admission_Deposit'],
        'Relation with Stay variable': ['Independent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Independent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent', 'Dependent'],
        }

In [151]:
dfchi = pd.DataFrame (chisqtable, columns = ['Column Attributes','Relation with Stay variable'])

In [152]:
dfchi

                    Column Attributes Relation with Stay variable
0                             case_id                 Independent
1                       Hospital_code                   Dependent
2                  Hospital_type_code                   Dependent
3                  City_Code_Hospital                   Dependent
4                Hospital_region_code                   Dependent
5   Available Extra Rooms in Hospital                   Dependent
6                          Department                 Independent
7                           Ward_Type                   Dependent
8                  Ward_Facility_Code                   Dependent
9                           Bed Grade                   Dependent
10                          patientid                   Dependent
11                  City_Code_Patient                   Dependent
12                  Type of Admission                   Dependent
13                Severity of Illness                   Dependent
14              Visitors with Patient                   Dependent
15                                Age                   Dependent
16                  Admission_Deposit                   Dependent